/* footer styles */

footer {
	background: $darker-gray;
	color: $lightest-gray;
	.footer-container {
		padding: 60px 40px;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}
	font-size: 12px;
	a {
		color: $white;
		&:hover {
			color: $secondary;
		}
	}
	.footer-social-media {
		text-align: center;
		li {
			display: inline-block;
			a {
				color: $primary;
				background: $white;
				display: block;
				border-radius: 50%;
				font-size: 24px;
		    margin: 0 10px;
		    padding: 13px 10px;
		    width: 50px;
		    height: 50px;
				&:hover {
					background: $secondary;
					color: $white;
				}
			}
			@media #{$bp-mobile} {
				a {
					margin: 0 10px;
					height: 40px;
					width: 40px;
					font-size: 20px;
					padding: 10px 7px;
				}
			}
		}
	}
	.footer-main-nav {
		text-align: center;
		margin-top: 40px;
		li {
			display: inline-block;
			border-right: 1px solid $light-gray;
			padding: 0 20px 0 0;
    	margin: 10px;
    	font-size: 14px;
			&:last-child {
				border-right: none;
			}
		}
		@media #{$bp-mobile} {
			li {
				margin-bottom: 20px;
			}
		}
	}
}

.footer-lower {
	background: $black;
	padding: 20px 0;
	color: $lightest-gray;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}